/* custom.css */
.navbar-item {
    text-align: center;
    font-size: 0.2rem;
    padding: auto;
    margin: auto;
}

.navbar-brand {
    margin-right: 0;
    margin-left: 0; /* Align the brand name to the left by removing margin-right */
}

/* Common styles for all screen sizes */
.row-container {
  display: flex;
  flex-direction: column;
}

.figure {
  width: 100%; /* Each graph takes full width on small screens */
  margin-bottom: 20px; /* Add some spacing between graphs */
}

.my-custom-title {
        font-size: 24px;  /* Customize font size as needed */
        color: #e17313;  /* Customize text color as needed */
        margin-top: 20px;  /* Add margin as needed */
    }

/* Common styles for all screen sizes */
.filter-container {
  display: flex;
  flex-wrap: wrap;
}

.filter {
  flex: 1; /* Each filter takes an equal portion of the available space */
  margin: 5px; /* Add some spacing around filters */
  text-align: center;
}







/* Apply specific styles for screens with a minimum width of 768px (tablets) */
@media (min-width: 768px) {
  .row-container {
    flex-direction: row; /* Change to horizontal layout for tablets and larger screens */
  }

  .figure {
    width: 50%; /* Two graphs in a row */
    margin-bottom: 0; /* Remove the spacing between graphs */
  }
}

@media (max-width: 767px) {
  .filter-container {
    flex-direction: column; /* Change to vertical layout for mobiles and tablets */
  }
}

